In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
cd ml-100k

C:\Users\mnayal\GitLab\recommendation-engine\ml-100k

In [3]:
# Reading users file:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols,encoding='latin-1')

FileNotFoundError: [Errno 2] File b'ml-100k/u.user' does not exist: b'ml-100k/u.user'

In [4]:
# Reading rating files:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings= pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols, encoding='latin-1')

In [5]:
# Reading Item file:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols, encoding='latin-1')

In [6]:
print(users.shape)
users.head()

(943, 5)

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [7]:
print(ratings.shape)
ratings.head()

(100000, 4)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [8]:
print(items.shape)
items.head()

(1682, 24)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_train = pd.read_csv('ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_train.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [35]:
while ratings_train.user_id[i] == 1:
    print(ratings_train.movie_id[i])
    i=i+1

In [10]:
# Building Collaborative filtering model from scratch
"""
We will recommend movies based on user similarity and item-item similarity.
For that, first we need to calculate the number of unique users and movies
"""
n_users = ratings.user_id.unique().shape[0]
n_items = ratings.movie_id.unique().shape[0]

In [11]:
"""
Now, we will create a user-item matricx which can be used to calculate the
similarity between users and items
"""
data_matrix = np.zeros((n_users, n_items))
for line in ratings.itertuples():
    data_matrix[line[1]-1, line[2]-1] = line[3]

In [12]:
"""
Each row in data_matrix corresponds to users and each column corresponds to
each movie ratings
"""
"""
We now will calculate the similarity. We can use the pairwise_distance function
from sklearn to calculate the cosine similarity
"""

from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(data_matrix, metric='cosine')
item_similarity = pairwise_distances(data_matrix.T, metric='cosine')

In [13]:
"""
The above calculation is computationally expensive and would work bad for 
large dataset

The pairwise_distance function calculates the distance between corresponding
row elements and therefore for calculating the similarity score for items we
took transpose of the data_matrix
"""

'\nThe above calculation is computationally expensive and would work bad for \nlarge dataset\n\nThe pairwise_distance function calculates the distance between corresponding\nrow elements and therefore for calculating the similarity score for items we\ntook transpose of the data_matrix\n'

In [14]:
"""
The above has given us the item-item and user-user similarity in an array form.
The next step is to make predictions based on these similarities.
"""

def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        
        # We use np.newaxis so that mean_user_rating has some format as rating
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
        
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
            
    
    return pred

In [15]:
"""
Finally we will make predictions based on user similarity and item similarity
"""

user_prediction = predict(data_matrix, user_similarity, type='user')
item_prediction = predict(data_matrix, item_similarity, type='item')

In [16]:
user_prediction

array([[ 2.06532606,  0.73430275,  0.62992381, ...,  0.39359041,
         0.39304874,  0.3927712 ],
       [ 1.76308836,  0.38404019,  0.19617889, ..., -0.08837789,
        -0.0869183 , -0.08671183],
       [ 1.79590398,  0.32904733,  0.15882885, ..., -0.13699223,
        -0.13496852, -0.13476488],
       ...,
       [ 1.59151513,  0.27526889,  0.10219534, ..., -0.16735162,
        -0.16657451, -0.16641377],
       [ 1.81036267,  0.40479877,  0.27545013, ..., -0.00907358,
        -0.00846587, -0.00804858],
       [ 1.8384313 ,  0.47964837,  0.38496292, ...,  0.14686675,
         0.14629808,  0.14641455]])

In [34]:
item_prediction

array([[0.44627765, 0.475473  , 0.50593755, ..., 0.58815455, 0.5731069 ,
        0.56669645],
       [0.10854432, 0.13295661, 0.12558851, ..., 0.13445801, 0.13657587,
        0.13711081],
       [0.08568497, 0.09169006, 0.08764343, ..., 0.08465892, 0.08976784,
        0.09084451],
       ...,
       [0.03230047, 0.0450241 , 0.04292449, ..., 0.05302764, 0.0519099 ,
        0.05228033],
       [0.15777917, 0.17409459, 0.18900003, ..., 0.19979296, 0.19739388,
        0.20003117],
       [0.24767207, 0.24489212, 0.28263031, ..., 0.34410424, 0.33051406,
        0.33102478]])

In [36]:
ratings_test

      user_id  movie_id  rating  unix_timestamp
0           1        20       4       887431883
1           1        33       4       878542699
2           1        61       4       878542420
3           1       117       3       874965739
4           1       155       2       878542201
5           1       160       4       875072547
6           1       171       5       889751711
7           1       189       3       888732928
8           1       202       5       875072442
9           1       265       4       878542441
10          2        13       4       888551922
11          2        50       5       888552084
12          2       251       5       888552084
13          2       280       3       888551441
14          2       281       3       888980240
15          2       290       3       888551441
16          2       292       4       888550774
17          2       297       4       888550871
18          2       312       3       888550631
19          2       314       1       888980085
20          3       245       1       889237247
21          3       294       2       889237224
22          3       323       2       889237269
23          3       328       5       889237455
24          3       331       4       889237455
25          3       332       1       889237224
26          3       334       3       889237122
27          3       335       1       889237269
28          3       337       1       889236983
29          3       343       3       889237122
...       ...       ...     ...             ...
9400      941         7       4       875048952
9401      941        15       4       875049144
9402      941       117       5       875048886
9403      941       124       5       875048996
9404      941       147       4       875049077
9405      941       181       5       875048887
9406      941       257       4       875048952
9407      941       258       4       875048495
9408      941       475       4       875049038
9409      941       993       4       875048996
9410      942       117       4       891282816
9411      942       200       4       891282840
9412      942       261       4       891282673
9413      942       323       3       891282644
9414      942       423       5       891283095
9415      942       427       5       891283017
9416      942       487       4       891282985
9417      942       584       4       891283239
9418      942       604       4       891283139
9419      942       615       3       891283017
9420      943        11       4       888639000
9421      943        58       4       888639118
9422      943       111       4       875502192
9423      943       186       5       888639478
9424      943       215       5       888639000
9425      943       232       4       888639867
9426      943       356       4       888639598
9427      943       570       1       888640125
9428      943       808       4       888639868
9429      943      1067       2       875501756

[9430 rows x 4 columns]